*{
    font-family:arial;
}
body{
    margin:0;
    padding:0;
    border:;
    overflow: scroll;

}
.header{
    background-color:rgb(104, 143, 143);
    height:40px;
    width:100%;
    
    
}
.main{
    background-color:rgb(75, 131, 131);
    display:flex;
    position:;
}
.left{
    background-color:inherit;
    width:95%;
    height:40px;
    position;
}
.left ul{
    margin:10px 0px 0px 0px;
    width:40%;
}
.left ul li{
    padding:10px 0px 0px 20px;
    color:white;
    display:inline;
    
}
.left li>img{
    width:20px;
    height:20px;
}

 .left .color{
    background-color:rgb(107, 104, 104);
    margin:0px 50px 0px 0px ;
    border-radius:100%;
    padding:auto;
    text-align:left;
} 
.right{
    position:;
    background-color: ;
    
}
.right .rimage img{
    width:30px;
    height:20px;
    border-radius:100%;
    margin:10px 0px 0px 0px;
}
.box{
    display: flex;
    width:80%;
    margin:10px auto 10px auto;
    border:1px;
}
.line1{
    width:300px;
    margin:10px 0px 0px 15px;

}
.profile>h3{
    text-align:center;
}
.profile{
    border-bottom: none;
    box-shadow: 2px 2px 5px grey;
    border-radius:4px;
    border:1px solid blACK;

}
.profile img{
    border-radius:100%;
    margin:0px 0px 0px 80px;
    width:150px;
    height:150px;

}
.designer img{
    width:20px;
    height:20px;

}
.designer {
    border-radius:4px;
    box-shadow: 2px 2px 5px grey;
    BORDER:1PX SOLID;
    height:85px;

}
.designer ul{
    margin:5px;

}
.designer ul li{
    border:;
    list-style:none;
    margin:0px 70px 0px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.grey{
    border:1px solid;
    border-radius:4px;
    box-shadow: 2px 2px 5px grey;
    margin:20px 0px 0px 0px;
    background-color:rgb(182, 180, 180);

}
.grey img{
    width:20px;
    padding:5px 10px 0px 10px;
    height: 20px;
}
.grey span{
    border:;
    color:white;
    margin:0px 0px 10px 0px;
    
}
.interest{
    border:1px solid;
    box-shadow: 2px 2px 5px grey;
    border-radius:4px;
    margin:10px 0px 0px 0px;
    height:170px;
}
.interest ul{
    height:110px ;
    margin:0px 0 30px 0;
    
}
.interest h3{
    padding:10px 0px 0px 30px;
    
}
.interest li{
    display:inline-block;
    margin: 3px 0px 0px 0px;
    border:1px solid;
    padding:2px;
    background-color: lightgrey;
}
.cancel{
    border:1px solid;
    box-shadow: 2px 2px 5px grey;
    display:flex;
    margin:10px 0px 0px 0px;
    border-radius:4px;
    background-color: whitesmoke;
}
.h span{
    margin:10px 0px 0px 10px;
}
.h{
    width:95%;
    text-indent: 10px;

}
.c img{
    width:20px;
    height:20px;
    background-color:grey;

}
.line2{
    width:720px;
    height:200px;
    border:1px solid;
    margin:10px auto 10px 20px;
    background-color:white;

}
.span{
    padding:10px 0px 0px 10px;
    color:grey;
}
.bx1{
    border:1px solid;
    border-radius:4px;
    box-shadow: 2px 2px 4px grey;
}
.status input{
    height:30px;
    margin:3px;
    width:700px;
    border-radius:4px;
    font-weight:800;
    color:black;
}
button>img{
    width:16px;
    height:16px;
}
.bx1 button{
    margin:4px;
    background-color:darkgrey;
    border-radius:3px;
    color:white;
    height:30px;
    width:80px;
}
.bx2{
    border:1px solid;
    border-radius:4px;
    box-shadow: 2px 2px 4px grey;
    margin:10px 0px 0px 0px;
}
.flex{
    display:flex;
}
.one img{
    width:50px;
    height:50px;
    margin:20px 0px 0px;
    border:1px solid;
    border-radius:100%;

}
.one span{
    margin:0px 0px 0px 0px;

    
}
.one{
    
    width:90%;
    margin:0px 0px 0px 0px;
}
.two{
    margin:40px 0px 0px 0px;
}
.bx2 p{
    margin:0px 0px 0px 10px;

}
.bx2 .image img{
    display: inline;
    width:340px;
    height:380px;
    margin:10px 0px 0px 10px 
}
.image{
    border:;
}


.btn button{
    display:;
    background-color:grey;
    height:40px;
    margin:8px;
}
.bx3{
    border:1px solid;
    margin:10px 0px 0px 0px;
    box-shadow: 2px 2px 5px grey;
}
.bx3 p{
    margin:10px 0px 10px 10px;
}
.bx4{
    border:1px solid;
    margin:10px 0px 0px 0px;
    border-radius:4px;
    box-shadow: 2px 2px 5px grey;
}
.bx4 .img img{
    margin:5px;
    width:700px;
    height:600px;
    
    
}
p{
    margin:0px 0px 0px 10px;
}
.footer{
    background-color: grey;
    position:;
    bottom:15px;
    width:100%;
    


}
.power{
    background-color: grey;
    position:fixed;
    bottom:0px;
    width:100%;
}
.line3{
    border:1px ;
    width:200px;
    height:300px;
    margin:10px 0px 0px 20px;
    background-color:;
    position: ;
    margin:10px 0px 0px 1px;
}
.boxone{
    border:1px solid;
    border-radius:4px;
    box-shadow: 2px 2px 5px grey;
}
.boxone h3{
    text-align:center;
}
.boxone .ig img{
    width:180px;
    height:180px;
    margin:10px;
}
.boxone span{
    margin:0px 0px 0px 50px;
}
.boxone button{
    background-color:lightgrey;
    text-align:center;
    width:160px;
    margin:10px 0px 10px 20px;
}
.boxtwo{
    border:1px solid;
    border-radius:4px;
    box-shadow: 2px 2px 5px grey;
    margin:10px 0px 0px 0px;

}
.boxtwo img{
    width:100px;
    height:100px;
    border:1px solid;
    border-radius:100%;
    margin:0px 0px 0px 40px;
}
.boxtwo h3{
    text-align:center;
}
.boxtwo p{
    text-align: center;
}
.tick img{
    width:50px;
    height:50px;
    margin:10px 20px 0px 20px;

}
.boxthree {
    border:1px solid;
    border-radius:4px;
    box-shadow: 2px 2px 5px grey;
    margin:10px 0px 0px 0px;
    height:70px;


}
.boxthree p{
    margin:30px 0px 90px 70px;

}
.boxfr{
    border:1px solid;
    margin:10px 0px 0px 0px;
    box-shadow: 2px 2px 5px grey;
    border-radius:4px;
    height:100px;

}
.boxfr img{
    width:40px;
    height:40px;
    margin:30px 30px 30px 70px;
}

    
